.closeBtn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 50%;

  &:hover {
    font-size: 2.5rem;
  }
}
